@media screen and (max-width: 1024px) {
	.carousel-caption {
		top: 15%;
	}
}

@media screen and (max-width: 768px) {
	.carousel-caption h2 {
		font-size: 24px;
		margin-top: 20px;
	}
	.carousel-caption h1 {
		font-size: 37px;
		margin-top: 15px;
	}
	.carousel-caption div p {
		width: 80%;
		font-size: 14px;
		margin-top: 15px;
	}
	.carousel-caption button {
    padding: 15px 13px 13px 13px;		
	}
	.profile {
		margin-bottom: 18%;
	}
	.shape {
		top: 95%;
    width: 51.7%;
    left: 24%;
	}
	.tile {
		margin-top: 0px;
	}
	#latestproject .button {
		margin: 50px 0px;
	}
	#counters .list-inline>li {
		padding-left: 15px;
    padding-right: 15px;
	}
	.device {
		margin-top: 0px;
	}
	.slide-content {
		width: 51.5%;
	}
}